//mobile and tablet
@media(max-width:1023px){
   /*  .header{
        
    } */
    .header__top-wrap{
        display: none;
    }
    .header__bottom-wrap{
        .header__bottom{

            .header__bottom-list{
                display: none;
            }
            .header__bottom__logo{
                  width: 100%; 
                  margin: 20px 0 ;
                  text-align: center;
            }
            .header__bottom-menu-mobile{
                display: block;
            }
        }
        
    }
    .header__bottom-wrap .header__bottom .header__bottom__logo .logo__text{
        line-height: 1;
        text-align: center;
    }
    .background{
        margin-top:24px    
    }
    .background__seach-top{
        top: 68%;
        max-width: 277.64px;
       .background__seach-top-iteam{
           .bx{
               margin: 0;
           }
       }
    }
    .background__seach-bottom,.background__seach-bottom--active{
        padding: 0 0 20px 0;

    }
    .col.mobile__tablet{
        padding-top: 20px;
    }
}

//tablet
@media ( min-width:740px)and (max-width:1023px){
 
}

//mobile
@media (max-width:739px){
  

    
}

@media ( min-width:1024px)and (max-width:1112px){
    .background__seach-bottom,.background__seach-bottom--active{
        padding: 0 0 20px 0;
    }
}